<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="footer__desc">
                    <div class="footer__logo"><img src="images/logo-white.png" width="131" height="51" alt=""></div>
                    <p>Keyfiyyətli ehtiyat hissələri ilə, <br>
                        təhlükəsiz yollara</p>
                    <ul class="footer__socials">
                        <li>
                            <a href="#" aria-label="facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                                    <use xlink:href="#svg-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                                    <use xlink:href="#svg-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                                    <use xlink:href="#svg-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="whatsapp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                                    <use xlink:href="#svg-whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="tiktok">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                                    <use xlink:href="#svg-tiktok"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col d-md-flex">
                <div class="footer__item">
                    <h3 class="footer__title">Müştəri xidmətləri</h3>
                    <ul class="footer__menu">
                        <li><a href="#">Bizimlə əlaqə</a></li>
                        <li><a href="#">Şərtlər və qaydalar</a></li>
                        <li><a href="#">Ödəniş və çatdırılma</a></li>
                        <li><a href="#">Məxfilik siyasəti</a></li>
                        <li><a href="#">Şikayətlər və təkliflər</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">Şirkət</h3>
                    <ul class="footer__menu">
                        <li><a href="#">Haqqımızda</a></li>
                        <li><a href="#">Mağaza</a></li>
                        <li><a href="#">Kampaniyalar</a></li>
                        <li><a href="#">Site map</a></li>
                        <li><a href="#">TVS</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <h3 class="footer__title">Əlaqə</h3>
                    <ul class="footer__menu">
                        <li><a href="#">info.forauto.az</a></li>
                        <li><a href="#">+994 55 308 53 53</a></li>
                        <li>Həsən Bəy Zərbabi 87</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container-fluid">
            <p>Forauto © 2023. Bütün hüquqlar qorunur.</p>
        </div>
    </div>
</footer>
<!-- end footer -->
