<header class="header">
    <input type="checkbox" id="burger_toggle" class="d-none">

    <div class="header__top">
        <div class="container-fluid">
            <form class="header__search d-md-none">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Axtardığınız məhsulun adını yazın">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                            <use xlink:href="#svg-search"></use>
                        </svg>
                    </button>
                </div>
            </form>
            <ul class="header__menu d-md-none">
                <li><a href="#" class="active">Əsas səhifə</a></li>
                <li><a href="#">Mühərrik yağları</a></li>
                <li><a href="#">Təkər</a></li>
            </ul>

            <ul class="header__info">
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                            <use xlink:href="#svg-mail"></use>
                        </svg>
                        info.forauto.az
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                            <use xlink:href="#svg-phone"></use>
                        </svg>
                        +994 55 555 55 55
                    </a>
                </li>
            </ul>
            <a href="#" class="header__logo d-none d-md-block" aria-label="logo">
                <img src="images/logo.png" width="87" height="33" alt="">
            </a>

            <ul class="header__tools">
                <li class="header__tools__item">
                    <div class="header__lang no-icon">
                        <div class="header__lang__selected">
                            <span><img src="images/aze.png" alt=""></span>
                            Azərbaycan dili
                        </div>
                        <ul class="header__lang__list">
                            <li>
                                <a href="#">
                                    <span><img src="images/aze.png" alt=""></span>
                                    Azərbaycan dili
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span><img src="images/aze.png" alt=""></span>
                                    Azərbaycan dili
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header__tools__item">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                            <use xlink:href="#svg-user"></use>
                        </svg>
                        Giriş / Qeydiyyat
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container-fluid">
            <a href="#" class="header__logo d-md-none" aria-label="logo">
                <img src="images/logo.png" width="87" height="33" alt="">
            </a>
            <ul class="header__menu d-none d-md-flex">
                <li><a href="#" class="active">Əsas səhifə</a></li>
                <li><a href="#">Mühərrik yağları</a></li>
                <li><a href="#">Təkər</a></li>
            </ul>
            <form class="header__search d-none d-md-flex">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Axtardığınız məhsulun adını yazın">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                            <use xlink:href="#svg-search"></use>
                        </svg>
                    </button>
                </div>
            </form>
            <ul class="header__bottom__tools">
                <li>
                    <a href="#">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="2.2rem" height="2rem">
                                <use xlink:href="#svg-basket"></use>
                            </svg>
                        </span>
                        Səbət
                    </a>
                    <div class="header__basket">

                        <div class="basket__item">
                            <a href="#" class="basket__image"><img src="images/prod3.jpg" alt=""></a>
                            <div class="basket__info">
                                <a href="#" class="products__title">Shell Helix Ultra 5W-40 5lt</a>
                                <span class="products__price__new">86.00 AZN</span>
                                <div class="basket__count">
                                    <button class="basket__count__btn basket__count__btn--minus" disabled>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.0rem" height="2.2rem">
                                            <use xlink:href="#svg-minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="basket__count__input" value="1" max="10">
                                    <button class="basket__count__btn basket__count__btn--plus">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.0rem" height="2.2rem">
                                            <use xlink:href="#svg-plus"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="basket__item">
                            <a href="#" class="basket__image"><img src="images/prod3.jpg" alt=""></a>
                            <div class="basket__info">
                                <a href="#" class="products__title">Shell Helix Ultra 5W-40 5lt</a>
                                <span class="products__price__new">86.00 AZN</span>
                                <div class="basket__count">
                                    <button class="basket__count__btn basket__count__btn--minus" disabled>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.0rem" height="2.2rem">
                                            <use xlink:href="#svg-minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="basket__count__input" value="1" max="10">
                                    <button class="basket__count__btn basket__count__btn--plus">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.0rem" height="2.2rem">
                                            <use xlink:href="#svg-plus"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-orange-transparent btn--sm w-100 fw-400 mt-4">Səbətə bax</a>
                        <a href="#" class="btn btn-orange btn--sm w-100 fw-400 mt-4">Sifarişi tamamla</a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem">
                                <use xlink:href="#svg-heart"></use>
                            </svg>
                            <i>8</i>
                        </span>
                        Bəyəndiyim
                    </a>
                </li>
            </ul>
            <label for="burger_toggle" class="header__burger d-md-none"><i></i></label>
        </div>
    </div>
</header>