body{
    overflow-x: hidden;
}

.table-bordered tfoot tr td {
    border-width: 0;
}
.col-auto{
    width: max-content;
}
.filedropper{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 16px;
    position: relative;
}
.dropperContainer{
    border: 1px dashed #aaa;
    border-radius: .25rem;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 24px;
    cursor: default;
}
.logoSelector{
    background: #28a745;
    border-color: #28a745;
    border-radius: .25rem;
    width: 100%;
    color: #fff;
    padding: 6px 12px;
    display: block;
    text-align: center;
    position: relative;
}
.logoSelector > input {
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    z-index: 1;
}
.inputCreator > img{
    width: 20px;
}
.new-input{
    margin: 4px 0px;
}
#logout-button{
    background: rgba(255, 255, 255, 0.2);
    border-radius: .25rem;
    padding: .5rem 1rem;
    position: absolute;
    bottom: 8px;
    width: calc(250px - .5rem * 2);
    text-align: center;
    color: #fff;
    transition: 0.2s;
}
#logout-button:hover{
    color: #343a40;
    background: #fff;
}

.image_progress, .image_dlt{
    margin-left:10px; height: calc(2.25rem + 2px); align-items: center; width: 20px;
    z-index: 999; position: absolute;
    right: 85px;
    display: none; cursor: pointer;
}
.image_dlt {
    font-size: 25px;
}
.image_progress.active, .image_dlt.active{
    display: flex;
}
.image_progress img {
    display: block;
    height: auto;
    width: 100%;
}

.file_preview {
    height: 80px; width: 120px; display:none;
}
.file_preview.active {
    display:block;
}
#logout-button{
    cursor: pointer;
}
label.custom-file-label{
    font-size: 14px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch-success input:checked + .slider {
    background-color: #129105;
}

.switch-success input:focus + .slider {
    box-shadow: 0 0 1px #129105;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.alert-a{
    border-radius: .25rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
.inputCreator{
    cursor: pointer;
}
.select2 {width: 100%!important;}
.file-upload-indicator, .file-drag-handle{
    display: none!important;
}
.krajee-default.file-preview-frame .kv-file-content{
    height: unset!important;
    width: unset!important;
}
.hidden-block{
    display: none!important;
}
.statistic-widget-user-desc{
    margin-left: 0!important;
    margin-bottom: 0!important;
}
.langCreateBtn{
    display: flex;
    align-items: center;
}
.langCreateBtn i{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.hidden-block{
    display: none;
}
.flex-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
