@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-SemiBoldItalic.eot');
    src: local('TT Interfaces SemiBold Italic'), local('TTInterfaces-SemiBoldItalic'),
    url('TTInterfaces-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-SemiBoldItalic.woff2') format('woff2'),
    url('TTInterfaces-SemiBoldItalic.woff') format('woff'),
    url('TTInterfaces-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-MediumItalic.eot');
    src: local('TT Interfaces Medium Italic'), local('TTInterfaces-MediumItalic'),
    url('TTInterfaces-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-MediumItalic.woff2') format('woff2'),
    url('TTInterfaces-MediumItalic.woff') format('woff'),
    url('TTInterfaces-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-BoldItalic.eot');
    src: local('TT Interfaces Bold Italic'), local('TTInterfaces-BoldItalic'),
    url('TTInterfaces-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-BoldItalic.woff2') format('woff2'),
    url('TTInterfaces-BoldItalic.woff') format('woff'),
    url('TTInterfaces-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Italic.eot');
    src: local('TT Interfaces Italic'), local('TTInterfaces-Italic'),
    url('TTInterfaces-Italic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Italic.woff2') format('woff2'),
    url('TTInterfaces-Italic.woff') format('woff'),
    url('TTInterfaces-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-SemiBold.eot');
    src: local('TT Interfaces SemiBold'), local('TTInterfaces-SemiBold'),
    url('TTInterfaces-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-SemiBold.woff2') format('woff2'),
    url('TTInterfaces-SemiBold.woff') format('woff'),
    url('TTInterfaces-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Medium.eot');
    src: local('TT Interfaces Medium'), local('TTInterfaces-Medium'),
    url('TTInterfaces-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Medium.woff2') format('woff2'),
    url('TTInterfaces-Medium.woff') format('woff'),
    url('TTInterfaces-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-ExtraBold.eot');
    src: local('TT Interfaces ExtraBold'), local('TTInterfaces-ExtraBold'),
    url('TTInterfaces-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-ExtraBold.woff2') format('woff2'),
    url('TTInterfaces-ExtraBold.woff') format('woff'),
    url('TTInterfaces-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-BlackItalic.eot');
    src: local('TT Interfaces Black Italic'), local('TTInterfaces-BlackItalic'),
    url('TTInterfaces-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-BlackItalic.woff2') format('woff2'),
    url('TTInterfaces-BlackItalic.woff') format('woff'),
    url('TTInterfaces-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Bold.eot');
    src: local('TT Interfaces Bold'), local('TTInterfaces-Bold'),
    url('TTInterfaces-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Bold.woff2') format('woff2'),
    url('TTInterfaces-Bold.woff') format('woff'),
    url('TTInterfaces-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Light.eot');
    src: local('TT Interfaces Light'), local('TTInterfaces-Light'),
    url('TTInterfaces-Light.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Light.woff2') format('woff2'),
    url('TTInterfaces-Light.woff') format('woff'),
    url('TTInterfaces-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-ExtraBoldItalic.eot');
    src: local('TT Interfaces ExtraBold Italic'), local('TTInterfaces-ExtraBoldItalic'),
    url('TTInterfaces-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-ExtraBoldItalic.woff2') format('woff2'),
    url('TTInterfaces-ExtraBoldItalic.woff') format('woff'),
    url('TTInterfaces-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Regular.eot');
    src: local('TT Interfaces Regular'), local('TTInterfaces-Regular'),
    url('TTInterfaces-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Regular.woff2') format('woff2'),
    url('TTInterfaces-Regular.woff') format('woff'),
    url('TTInterfaces-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Black.eot');
    src: local('TT Interfaces Black'), local('TTInterfaces-Black'),
    url('TTInterfaces-Black.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Black.woff2') format('woff2'),
    url('TTInterfaces-Black.woff') format('woff'),
    url('TTInterfaces-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-ThinItalic.eot');
    src: local('TT Interfaces Thin Italic'), local('TTInterfaces-ThinItalic'),
    url('TTInterfaces-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-ThinItalic.woff2') format('woff2'),
    url('TTInterfaces-ThinItalic.woff') format('woff'),
    url('TTInterfaces-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-LightItalic.eot');
    src: local('TT Interfaces Light Italic'), local('TTInterfaces-LightItalic'),
    url('TTInterfaces-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-LightItalic.woff2') format('woff2'),
    url('TTInterfaces-LightItalic.woff') format('woff'),
    url('TTInterfaces-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-ExtraLightItalic.eot');
    src: local('TT Interfaces ExtLt Ita'), local('TTInterfaces-ExtraLightItalic'),
    url('TTInterfaces-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-ExtraLightItalic.woff2') format('woff2'),
    url('TTInterfaces-ExtraLightItalic.woff') format('woff'),
    url('TTInterfaces-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-Thin.eot');
    src: local('TT Interfaces Thin'), local('TTInterfaces-Thin'),
    url('TTInterfaces-Thin.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-Thin.woff2') format('woff2'),
    url('TTInterfaces-Thin.woff') format('woff'),
    url('TTInterfaces-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('TTInterfaces-ExtraLight.eot');
    src: local('TT Interfaces Extra Light'), local('TTInterfaces-ExtraLight'),
    url('TTInterfaces-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('TTInterfaces-ExtraLight.woff2') format('woff2'),
    url('TTInterfaces-ExtraLight.woff') format('woff'),
    url('TTInterfaces-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

